<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="mb-0 d-flex align-items-center">
      <button
        class="btn btn-no-shadow d-md-none menu-btn"
        (click)="toggleMenu()"
      >
        <div class="hamburger-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </button>
      <span class="text-seconadry d-none d-lg-inline">Dashboard</span>
      <span class="d-none d-lg-inline">/</span> Home
    </h5>
    <div class="d-flex justify-content-end">
      <button class="btn btn-no-shadow">
        <img src="icons/notifications.svg" class="icon" alt="Icon" />
      </button>

      <button class="btn btn-secondary ms-2">
        <img src="icons/balance.svg" class="icon me-2" alt="Icon" />{{
          78 | currency
        }}
      </button>
      <button class="btn btn-secondary ms-2 text-seconadry d-none d-md-inline">
        <img src="icons/settings.svg" class="icon me-2" alt="Icon" />Menage
        Billing
      </button>
    </div>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
