<div class="card">
  <div class="card-header d-flex justify-content-between sticky-sm-top">
    <h5 class="mb-0 d-flex align-items-center">
      <span class="text-seconadry">Dashboard</span> / Home
    </h5>
    <div>
      <button class="btn btn-no-shadow">
        <img src="icons/notifications.svg" class="icon" alt="Icon" />
      </button>

      <button class="btn btn-secondary ms-2">
        <img src="icons/balance.svg" class="icon me-2" alt="Icon" />{{
          78 | currency
        }}
      </button>
      <button class="btn btn-secondary ms-2 text-seconadry">
        <img src="icons/settings.svg" class="icon me-2" alt="Icon" />Menage
        Billing
      </button>
    </div>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
