<app-data-displayer [loading]="loading" (pageChange)="getData($event)">
  <tr header>
    <th scope="col">ID</th>
    <th scope="col">Product</th>
    <th scope="col">Date</th>
    <th scope="col">Quantity</th>
    <th scope="col">Status</th>
    <th scope="col">Total</th>
    <th scope="col">Actions</th>
  </tr>
  <ng-container body>
    @for(item of items; track item; let i = $index){
    <tr>
      <td>
        <img src="icons/copy.svg" class="icon me-1" alt="Icon" />#{{ item.id }}
      </td>
      <td>{{ item.product }}</td>
      <td>{{ item.date | date : "dd MMM yyyy" }}</td>
      <td>{{ item.quantity }}GB</td>
      <td>
        <span
          class="badge rounded-2 px-2 py-2 fs-4"
          [ngClass]="getStatusColor(item.status)"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="me-1"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M12 18a6 6 0 1 0 0-12 6 6 0 0 0 0 12Z"></path>
          </svg>
          {{ stauses[item.status] }}</span
        >
      </td>
      <td>{{ item.Total | currency }}</td>
      <td>
        <span>
          <button class="btn btn-outline-secondary">Download Invoice</button>
        </span>
      </td>
    </tr>
    }
  </ng-container>
</app-data-displayer>
