.btn {
  background-color: #1b1c20 !important;
  border-color: #2b2c2e;
  color: #7e7f83;
}

.dot {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background-color: currentColor;
  border-radius: 50%;
}

.badge {
  padding: 6px 8px;
}

.badge-next {
  background-color: #252d21 !important;
  color: #b1f55a !important;
}

.badge-danger {
  background-color: #2d1d21;
  color: #fa5555;
}

.badge-warning {
  background-color: #2c2c21;
  color: #f5e65a;
}
