.btn {
  background-color: #1b1c20 !important;
  border-color: #2b2c2e;
  color: #7e7f83;
}

.dot {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background-color: currentColor;
  border-radius: 50%;
}

.badge {
  padding: 8px;
}
