<div class="card-header mb-3">
  <h3 class="mb-3 pb-1">Announcements</h3>
  <ul class="nav nav-underline underline border-bottom border-dark">
    <li class="nav-item me-3 h-100">
      <a class="nav-link active"
        >General<span
          class="bg-dark4 fs-6 text-light2 fw-normal mb-1 ms-2 badge1 badge badge-secondary text-heading"
          >3</span
        >
      </a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link h-100">Status</a>
    </li>
    <li class="nav-item me-3">
      <a class="nav-link h-100">Promotions</a>
    </li>
  </ul>
</div>
<div class="card-body overflow-auto">
  <div class="list-group" [class.list-expanded]="readmore">
    @if(loading){
    <div class="border-bottom border-dark line-element" @fadeOut>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center placeholder-glow">
          <div style="width: 35px; height: 35px">
            <span class="placeholder" style="height: 100%; width: 100%"></span>
          </div>
          <div class="ms-2">
            <h3 class="mb-1 placeholder-glow">
              <span class="placeholder" style="width: 70px"></span>
            </h3>
            <h5 class="text-body mb-0 placeholder-glow">
              <span class="placeholder w-20" style="width: 40px"></span>
            </h5>
          </div>
        </div>
        <h5 class="text-body mb-0 placeholder-glow">
          <span class="placeholder" style="width: 30px"></span>
        </h5>
      </div>
      <div class="placeholder-glow">
        <h5 class="text-body placeholder w-100"></h5>
        <h5 class="text-body placeholder w-100"></h5>
      </div>
    </div>
    } @else { @for(item of items; track item; let i = $index){
    <div class="border-bottom border-dark line-element" @fadeIn>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
          <img [src]="item.icon" alt="Image" height="35" class="" />
          <div class="ms-2">
            <h3 class="mb-1">{{ item.title }}</h3>
            <h5 class="text-body mb-0">{{ item.subTitle }}</h5>
          </div>
        </div>
        <h5 class="text-body mb-0">14h ago</h5>
      </div>
      <div class="">
        <h5 class="text-body">
          {{ item.description }}
        </h5>
      </div>
    </div>
    } }
  </div>
  <div
    class="readmore text-body d-xl-none"
    [class.readmore-expanded]="readmore"
    (click)="readmore = !readmore"
  >
    Read More<img
      src="icons/arrow.svg"
      class="readmore-arrow icon ms-2"
      alt="Icon"
    />
  </div>
</div>
