.app-container {
  display: flex;
}

.sidebar {
  transition: transform 0.3s ease;
}

.main-content {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 15px 15px 15px 0px;
}

@media screen and (max-width: 767px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 10000;
    transition: transform 0.3s ease;
  }

  .main-content {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0px 12px 30px 12px;
  }
}

.active {
  transform: translateX(0);
}
