<nav class="bg-body sidebar">
  <div class="nav-inner nav-inner-top">
    <div class="logo-container">
      <div class="logo">
        <img src="icons/logo.svg" alt="Logo" />
      </div>
      <div class="title">
        <h2 style="margin-bottom: 2px">Lemonclub</h2>
        <h6 class="text-body">Premium Proxy Solutions</h6>
        <button
          class="btn btn-transparent menu-close"
          type="button"
          aria-label="Close"
          (click)="toggleMenu()"
        >
          <img src="icons/close.svg" />
        </button>
      </div>
    </div>
    <h6 class="text-body" style="margin-bottom: 9px">Main menu</h6>
    <ul class="nav nav-pills flex-column" style="margin-bottom: 16px">
      @for(route of routes; track route){
      <li class="nav-item">
        <a
          class="nav-link text-start fs-2"
          [routerLink]="['pages', route.path]"
          routerLinkActive="active"
        >
          <img [src]="route.data!['icon']" class="icon" alt="Icon" />
          &nbsp;
          <span>{{ route.data!["label"] }}</span>
        </a>
      </li>
      }
    </ul>
    <ul
      class="nav nav-pills flex-column d-md-none mobile-menu"
      style="margin-top: 16px"
    >
      <li class="nav-item">
        <a class="nav-link text-start fs-2">
          <img src="icons/settings.svg" class="icon" alt="Icon" />
          &nbsp;
          <span>Manage Billing</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-inner nav-inner-bottom">
    <ul class="nav nav-pills flex-column" style="margin-bottom: 3px">
      <li class="nav-item">
        <a class="nav-link text-start fs-2">
          <img src="icons/log-out.svg" class="icon" alt="Icon" />
          &nbsp;
          <span>Log Out</span>
        </a>
      </li>
    </ul>
    <div
      class="account-card bg-dark2 d-flex border border-dark rounded-2 bg-lighter"
    >
      <img src="/img/image.png" alt="Globe Icon" height="40" class="me-2" />
      <div>
        <h3 style="margin-bottom: 3px">Vasco Ferreira</h3>
        <h6 class="text-body m-0">vascoferreira&#64;nr19.studio</h6>
      </div>
    </div>
  </div>
</nav>
