<nav class="side-bar">
  <div>
    <div
      class="d-flex align-items-center py-3 px-1 mb-2 nav-top-underline underline"
    >
      <img
        src="img/logo.png"
        alt="Lemonclub Logo"
        class="img-fluid"
        style="width: 40px; height: 40px"
      />
      <div class="ms-3 page-header w-100">
        <h5 class="mb-0">Lemonclub</h5>
        <small>Premium Proxy Solutions</small>
        <button
          type="button"
          class="btn-close btn-close-white d-md-none"
          aria-label="Close"
          (click)="toggleMenu()"
        ></button>
      </div>
    </div>
    <p class="py-2 px-1 m-0">
      <small> Main menu </small>
    </p>
    <ul class="nav nav-pills flex-column">
      @for(route of routes; track route){
      <li class="nav-item">
        <a
          class="nav-link text-start"
          [routerLink]="['pages', route.path]"
          routerLinkActive="active"
        >
          <i class="bi" [class]=""></i>
          <img [src]="route.data!['icon']" class="icon" alt="Icon" />
          &nbsp;
          <span>{{ route.data!["label"] }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="sidebar-bottom">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link text-start" routerLinkActive="active">
          <i class="bi" [class]=""></i>
          <img src="icons/log-out.svg" class="icon" alt="Icon" />
          &nbsp;
          <span>Log Out</span>
        </a>
      </li>
    </ul>
    <div class="card page-footer mt-1">
      <div class="d-flex p-2">
        <img
          src="img/image.png"
          alt="User Image"
          class="me-2"
          style="width: 40px; height: 40px"
        />
        <div>
          <b>Vasco Ferreira</b><br />
          <small class="text-muted">vascoferreira&#64;nr19.studio</small>
        </div>
      </div>
    </div>
  </div>
</nav>
