.nav-top-underline {
  border-bottom: 0.5px solid white;
}

ul {
  .nav-link {
    transition: all 0.5s ease-in-out;
  }
}
// .nav-pills .nav-link.active,
// .nav-pills .show > .nav-link {
//   color: unset;
//   background-color: #cd0b0b;
// }

.nav-item {
  .nav-item {
    color: white !important;
  }
}

.page-header {
  font-size: 0.9rem;
}
