.nav-top-underline {
  border-bottom: 0.5px solid white;
}

ul {
  .nav-link {
    transition: all 0.5s ease-in-out;
  }
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  box-shadow: 0px 1px 1px 0px #ffffff33 inset;
}

.page-header {
  font-size: 0.9rem;
  position: relative;
}
