<nav class="side-bar">
  <div>
    <div class="d-flex align-items-center py-3 px-1 mb-2 nav-top-underline">
      <img
        src="img/logo.png"
        alt="Lemonclub Logo"
        class="img-fluid"
        style="width: 40px; height: 40px"
      />
      <div class="ms-3">
        <h6 class="mb-0">Lemonclub</h6>
        <small>Premium Proxy Solutions</small>
      </div>
    </div>
    <p class="py-2 px-1 m-0">
      <small> Main menu </small>
    </p>
    <ul class="nav nav-pills flex-column">
      @for(route of routes; track route){
      <li class="nav-item color-muted">
        <a
          class="nav-link text-start color-muted"
          [routerLink]="['pages', route.path]"
          routerLinkActive="active"
        >
          <i class="bi" [class]="route.data!['icon']"></i>
          &nbsp;
          <span>{{ route.data!["label"] }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
</nav>
