<div @fadeIn class="page-container">
  <div class="row d-flex align-items-stretch">
    <div class="col-100 col-xl-38">
      <div class="card">
        <app-loyalty></app-loyalty>
      </div>
    </div>
    <div class="col-100 col-xl-40">
      <div class="card">
        <app-announcements></app-announcements>
      </div>
    </div>
    <div class="col-100 col-xl-22">
      <div class="card">
        <app-help></app-help>
      </div>
    </div>
    <div class="col-100 orders">
      <div class="card">
        <app-orders></app-orders>
      </div>
    </div>
  </div>
</div>
