@import "../node_modules/bootstrap/scss/functions";

$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #ef5d39;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$font-size-base: 14px;
$small-font-size: 12px;
$h1-font-size: 18px;
$h2-font-size: 16px;
$h3-font-size: 14px;
$h4-font-size: 14px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$input-btn-font-size: $h2-font-size;
$input-btn-padding-y: 6px;
$input-btn-padding-x: 12px;

// ERROR FIX
$nav-link-padding-y: 0.5;
// ERROR FIX

$border-color: #232428;

// $enable-gradients: true;
$enable-shadows: true;

$body-bg: #111214;
$body-color: #7e7f83;
$headings-color: #fbfcfe;

$primary: $orange;
$primary-text-emphasis: $headings-color;
$secondary: #262a30;
$secondary-color: $body-color;

$input-border-radius: 6px;

$input-bg: #16171b;
$input-color: $body-color;
$input-border-color: #2b2c2e;

$input-disabled-bg: $input-bg;
$input-disabled-color: $input-color;
$input-disabled-border-color: $input-border-color;

$nav-pills-link-active-bg: $secondary;
$nav-pills-link-active-color: $headings-color;
$nav-link-color: $body-color;
$nav-link-hover-color: $headings-color;

$card-border-radius: 16px;
$card-bg: #16171b;
$card-cap-padding-y: 16px;
$card-cap-padding-x: 16px;
$card-spacer-y: 4px;
$card-spacer-x: 16px;
$card-cap-bg: transparent;
$card-border-color: transparent;

$badge-padding-y: 4px;
$badge-padding-x: 6px;
$badge-border-radius: 6px;
$badge-font-size: 12px;

$grid-gutter-width: 12px;

$grid-columns: 100;

$table-bg: transparent;
$table-color: $body-color;
$table-cell-padding-y: 0.75rem;
$table-cell-vertical-align: center;
$table-border-color: #232428;

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "icon";
  src: url("../public/font/icons.ttf") format("truetype");
}

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/bootstrap";

.btn-transparent {
  background: transparent !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

// img {
//   filter: white !important;
// }

* {
  font-weight: 300 !important;
  scrollbar-width: none;
}

body {
  letter-spacing: 0.5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

.text-body {
  color: $body-color !important;
}

.text-heading {
  color: $headings-color !important;
}

@media screen and (min-width: 1200px) {
  .xl-text-body {
    color: $body-color !important;
  }

  .xl-text-heading {
    color: $headings-color !important;
  }
}
.bg-lighter {
  background-color: #16171b;
}

.bg-body {
  background-color: $body-bg !important;
}

.btn {
  border-top: 1px solid #4a4d52;
}

.btn-primary {
  color: $headings-color;
  &:hover {
    color: $headings-color;
  }
}

.btn-secondary {
  color: $body-color;
}

.info-icon {
  position: relative;
  top: -2px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.badge-secondary {
  color: #c0c0c0;
  background-color: #2f3034;
}

.card-body {
  padding-bottom: 16px;
}

tr:last-child {
  td {
    border-bottom: none;
  }
}
