:root {
  --bs-nav-link-padding-x: 0.5rem !important;
  --bs-nav-link-padding-y: 0.25rem !important;
}
body {
  height: 100vh;
}

.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .fixed-sm-top {
    position: fixed;
    // z-index: $;
  }
}
