$body-bg: #0e0f10;
$text-color: #fbfcfe;
$body-color: #7e7f83;
$headings-color: $text-color;

// $muted-color: #a1a1a1;
// $info-color: #ffdd56;
// $success-color: #35d075;
// $danger-color: #ff5353;

$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$primary: #ff6c37;
$primary-color: $text-color;
$secondary: #272b30;
$secondary-color: #272b30;

$link-color: $body-color;

$card-border-radius: 16px;

$nav-pills-link-active-bg: $secondary;
$nav-pills-link-active-color: $text-color;

$link-color-dark: $body-color;

$table-bg: transparent;
$table-color: $body-color;
$table-cell-padding-y: 0.75rem;
$table-cell-vertical-align: center;
$table-border-color: #232428;

$font-family-sans-serif: Inter;
$font-size-base: 1.0625rem;
$headings-font-weight: 400;
$card-bg: #16171b;
$card-cap-padding-y: 8px;
$card-cap-padding-x: 16px;
$card-cap-bg: transparent;
$card-border-color: transparent;

$input-disabled-color: #7e7f83;
$input-disabled-bg: #151518;
$input-border-color: #2b2c2e;
$input-border-radius: 6px;
$input-border-radius-sm: 6px;
$input-border-radius-lg: 6px;
$input-padding-y: 8px;
$input-padding-x: 10px;

$input-btn-padding-y: 10px;
$input-btn-padding-x: 10px;

$nav-underline-link-active-color: $text-color;

$list-group-bg: transparent;
$list-group-border-color: transparent;
